<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php" colors="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/5.3/phpunit.xsd">
    <testsuite>
        <directory suffix="Test.php">Bisarca</directory>
    </testsuite>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">Bisarca</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-text"/>
        <log target="build/logs/clover.xml" type="coverage-clover"/>
    </logging>
</phpunit>
